
body {
  font-family: 'Encode Sans', sans-serif;
}

header {
  height: 80px;
  width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  height: 60px;
}

nav {
  width: 1250px;
  font-weight: 700;
  font-size: 19px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.g1 {
  color: #C3170C;
}

.oglobo {
  color: #1E4B9B;
}

.valor {
  color: #006766;
}

.ge {
  color: #07AA47;
}

.cartola {
  color: #E3662B;
}

.globoplay {
  color: #FB0735;
}

.dropz {
  color: #FF75BB;
}

.gshow {
  color: #EC7D00;
}

.quem {
  color: #323333;
}

.receitas {
  color: #A81D83;
}


.h-splitter {
  background-color: #EBEDEF;
  height: 1px;
  margin: 20px 0;
}

.v-splitter {
  background-color: #EBEDEF;
  width: 1px; 
}

main {
  display: flex;
  width: 1250px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 30px;
}

article img {
  width: 240px;
  height: 128px;
  border-radius: 12px;
  margin-bottom: 10px;
}

article strong {
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px; 
  margin-bottom: 10px; 
  display: block;
}

article a {
  font-weight: 400;
  font-size: 14px;
  margin: 15px 0;
  display: block;
  color: #2F3134;
}

article small {
  font-weight: 500;
  font-size: 14px;
}

a:hover {
  filter: brightness(80%);
}

.main-news {
  width: 624px;
  height: 800px;
}

.headline-news {
  margin-bottom: 30px;
}

.headline-news p {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 30px;
}

.headline-news a {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
  display: block;
  color: #2F3134;
}

.headline-news .headline {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 30px;
  color: inherit;
}

.important-news {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.important-news img {
  width: 193px;
  height: 110px;
}

.important-news article {
  width: 193px;
}

.sports-news {
  width: 240px;
  height: 800px;
}

.gshow-news { 
  width: 240px;
  height: 800px;
}






